[Desktop Entry]
Type=Application
Name=Thulium
GenericName=Image Editor
Comment=A fast, lightweight, and cross-platform raster image editor
Exec=thulium %F
Icon=com.finnfreitag.thulium
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=image/png;image/jpeg;image/gif;image/bmp;image/webp;image/x-paintnet;
StartupWMClass=thulium
Keywords=paint;editor;image;photo;raster;pdn;
